<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yueonsu.www.board.BoardMapper">

    <!--  검색 쿼리문  -->
    <sql id="search">
        <where>
            <if test="(sel == 1 or sel == 2) and (text != '' and text != null)">
                OR board.sTitle LIKE CONCAT('%',#{text},'%')
            </if>
            <if test="(sel == 1 or sel == 3) and (text != '' and text != null)">
                OR member.sName LIKE CONCAT('%',#{text},'%')
            </if>
            <if test="(sel == 1 or sel == 4) and (text != '' and text != null)">
                OR board.sContent LIKE CONCAT('%',#{text},'%')
            </if>
        </where>
    </sql>

    <!--  글 등록  -->
    <insert id="insBoard" parameterType="BoardEntity" useGeneratedKeys="true" keyProperty="nBoardSeq">
        INSERT INTO tBoard
        (sTitle, sContent, fkUserSeq)
        VALUES
        (#{sTitle}, #{sContent}, ${fkUserSeq})
    </insert>

    <!--  게시물 리스트  -->
    <select id="selBoardList" resultType="BoardVo">
        SELECT board.*, member.sName AS sUserName
        FROM tBoard board
        INNER JOIN tUser member
        ON board.fkUserSeq = member.nUserSeq
        <include refid="search"></include>
        ORDER BY board.dtCreateDate DESC
        LIMIT ${startIdx}, ${rowCnt}
    </select>

    <!--  전체 게시물 수  -->
    <select id="selBoardCount" resultType="BoardPageable">
        SELECT COUNT(board.nBoardSeq) AS totalCount
        FROM tBoard board
        INNER JOIN tUser member
        ON board.fkUserSeq = member.nUserSeq
        <include refid="search"></include>
    </select>

    <!--  게시물 디테일  -->
    <select id="selBoardDetail" resultType="BoardVo">
        SELECT board.*, member.sName AS sUserName
        FROM tBoard board
        INNER JOIN tUser member
        ON board.fkUserSeq = member.nUserSeq
        WHERE board.nBoardSeq = ${nBoardSeq}
    </select>

    <!--  게시물 수정 데이터 불러오기  -->
    <select id="selModData" resultType="BoardEntity">
        SELECT *
        FROM tBoard
        WHERE nBoardSeq = ${nBoardSeq}
    </select>

    <!--  게시물 수정  -->
    <update id="updBoard">
        UPDATE tBoard
        SET sTitle = #{sTitle}, sContent = #{sContent}
        WHERE nBoardSeq = ${nBoardSeq} AND fkUserSeq = ${fkUserSeq}
    </update>

    <!--  게시물 삭제  -->
    <delete id="delBoard">
        DELETE FROM tBoard
        WHERE nBoardSeq = ${nBoardSeq} AND fkUserSeq = ${fkUserSeq}
    </delete>
</mapper>